name: Test Github Actions

on:
  push:
    branches: [master]
  workflow_dispatch:

jobs:
  say-hello:
    runs-on: ubuntu-latest

    steps:
      - name: Print a message
        run: echo "Hello from GH Actions"
      - name: Show date
        run: date
      - name: List files
        run: ls -la